bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Debug/
Release/
.vs/Window-Switcher/v17/DocumentLayout.json
.vs/Window-Switcher/v17/DocumentLayout.backup.json
.vs/Window-Switcher/v17/.suo
.vs/Window-Switcher/FileContentIndex/99a2a45b-971d-4167-a33a-f65882d347fe.vsidx
.vs/Window-Switcher/FileContentIndex/1dec046c-a43e-40f8-b051-38fbad3e4eb6.vsidx
.vs/Window-Switcher/FileContentIndex/1dec046c-a43e-40f8-b051-38fbad3e4eb6.vsidx
.vs/Window-Switcher/v17/.suo
.vs/Window-Switcher/v17/DocumentLayout.backup.json
.vs/Window-Switcher/v17/DocumentLayout.json
